//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
            layers = <0>;
        };

        Delete {
            bindings = <&kp DEL>;
            key-positions = <8 9>;
            layers = <1>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <11 13>;
            layers = <0>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 18>;
            layers = <0>;
        };

        Semi-Colon {
            bindings = <&kp SEMI>;
            key-positions = <18 19>;
            layers = <0>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
            layers = <0>;
        };
    };

    macros {
        LeftDesktop: LeftDesktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "LEFTDESKTOP";
        };

        RightDesktop: RightDesktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "RIGHTDESKTOP";
        };

        LastWord: LastWord {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "LASTWORD";
        };

        NextWord: NextWord {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "NEXTWORD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q             &kp W           &kp E         &kp R             &kp T        &kp Y  &kp U  &kp I          &kp O    &kp P
              &kp A             &kp S           &kp D         &kp F             &kp G        &kp H  &kp J  &kp K          &kp L    &kp SQT
&lt 3 ESCAPE  &mt LEFT_SHIFT Z  &mt LEFT_ALT X  &kp C         &kp V             &kp B        &kp N  &kp M  &kp COMMA      &kp DOT  &mt RIGHT_SHIFT SLASH  &lt 3 BACKSPACE
                                                &kp LEFT_ALT  &kp LEFT_CONTROL  &kp SPACE    &mo 1  &mo 2  &kp RIGHT_ALT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp EXCLAMATION  &kp AT_SIGN     &kp HASH       &kp DOLLAR            &kp PERCENT         &kp CARET          &kp AMPERSAND          &kp ASTERISK      &kp GRAVE  &kp NON_US_BACKSLASH
        &kp NUMBER_1     &kp NUMBER_2    &kp NUMBER_3   &kp NUMBER_4          &kp N5              &kp NUMBER_6       &kp N7                 &kp N8            &kp N9     &kp N0
&trans  &kp MINUS        &kp UNDERSCORE  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp EQUAL  &kp PLUS              &trans
                                         &trans         &trans                &trans              &trans             &trans                 &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp F1   &kp F2   &kp F3   &kp F4  &kp F5     &trans            &LastWord       &kp UP_ARROW    &NextWord          &trans
        &kp F6   &kp F7   &kp F8   &kp F9  &kp F10    &LeftDesktop      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT          &RightDesktop
&trans  &kp F11  &kp F12  &kp F13  &trans  &trans     &kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
                          &trans   &trans  &trans     &trans            &trans          &trans
            >;
        };

        Funpad {
            display-name = "Funpad";
            bindings = <
        &trans  &trans  &trans  &trans  &to 4             &trans  &kp N7        &kp N8        &kp N9        &trans
        &trans  &trans  &trans  &trans  &studio_unlock    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&trans  &trans  &trans  &trans  &trans  &bootloader       &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                        &trans  &trans  &trans            &trans  &trans        &kp N0
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
              &kp LEFT_ALT    &kp Q  &kp W             &kp E  &kp R        &trans  &trans  &trans  &trans  &trans
              &kp TAB         &kp A  &kp S             &kp D  &kp F        &trans  &trans  &trans  &trans  &trans
&lt 3 ESCAPE  &kp LEFT_SHIFT  &kp Z  &kp X             &kp C  &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                                     &kp LEFT_CONTROL  &mo 5  &kp SPACE    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &trans  &kp N7        &kp N8            &kp N9        &kp T        &trans  &trans  &trans  &trans  &trans
        &trans  &kp NUMBER_4  &kp N5            &kp NUMBER_6  &kp G        &trans  &trans  &trans  &trans  &trans
&trans  &kp M   &kp NUMBER_1  &kp NUMBER_2      &kp NUMBER_3  &kp B        &trans  &trans  &trans  &trans  &trans  &trans
                              &kp LEFT_CONTROL  &mo 5         &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
